{
    local_certs
}

pihole.kcajpi.next {
    encode gzip zstd
    reverse_proxy localhost:8081
}

gateway.kcajpi.next {
    encode gzip zstd
    reverse_proxy 10.0.0.1
}

influx.kcajpi.next {
    encode gzip zstd
    reverse_proxy localhost:8086
}

grafana.kcajpi.next {
    encode gzip zstd
    reverse_proxy localhost:3030
}

wakapi.kcajpi.next {
    encode gzip zstd
    reverse_proxy localhost:3000
}

